.donggoi{
  &__accordion{
    .uk-accordion-title{

    }
    .uk-accordion-content{
      margin-top: 15px;
    }
    .uk-form-width-small{
      width: 90px;
    }
  }
  &__box{
    border-bottom: 1px solid #E4EDFF;
  }
  &__label{
    color: rgba(34, 34, 34, 0.75) !important;
    font-size: 14px;
    line-height: (18/14);
    font-family: $font-BeVietnamPro-Regular;
  }
  &__txt{
    color: rgba(34, 34, 34, 0.75);
    font-size: 14px;
    line-height: (18/14);
    font-family: $font-BeVietnamPro-Italic;
  }
  &__item{
    padding: 15px 15px;
    &:nth-child(n+2){
      border-top: 1px solid #E4EDFF;
    }
  }
}