.giacsodo{
  &__tiendo{
    &__box{
      background: #F4F4F4;
      border-radius: 8px;
      padding: 4px;
    }
    &__navStep{
      &__li{

      }
      &__a{
        .uk-active> &{
          background-color: #fff;
        }
      }
      &__icon{
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        svg{
          visibility: hidden;
          width: 18px;
          height: 18px;
        }
        &.new{
          background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.90457 7.04708C8.27457 6.51458 7.91332 5.73625 7.91332 4.91167V3.75C7.91332 2.28375 6.82415 1.07 5.41332 0.866667V0.416667C5.41332 0.18625 5.22665 0 4.99665 0C4.76665 0 4.57999 0.18625 4.57999 0.416667V0.866667C3.16874 1.07 2.07999 2.28375 2.07999 3.75V4.91167C2.07999 5.73625 1.71874 6.51458 1.08499 7.05042C0.922903 7.18917 0.829987 7.39083 0.829987 7.60417C0.829987 8.00625 1.15707 8.33333 1.55915 8.33333H8.43415C8.83624 8.33333 9.16332 8.00625 9.16332 7.60417C9.16332 7.39083 9.0704 7.18917 8.90457 7.04708Z' fill='white'/%3E%3Cpath d='M4.99665 10C5.75124 10 6.38249 9.46208 6.52749 8.75H3.46582C3.61082 9.46208 4.24207 10 4.99665 10Z' fill='white'/%3E%3C/svg%3E%0A");
          background-color: #9BDDFF;
        }
        &.doing{
          background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00252 2.26723H6.84879V1.39938C6.84879 0.986157 6.51261 0.649994 6.09939 0.649994H3.90047C3.48724 0.649994 3.15106 0.986157 3.15106 1.39938V2.26723H0.997331C0.448683 2.26723 0.0023107 2.71361 0.0023107 3.26225C0.0023107 3.76062 -0.0487277 4.20818 0.328933 4.7115C0.542608 4.99627 0.836242 5.19941 1.17808 5.29893L4.49754 6.26541C4.82616 6.36108 5.17359 6.36112 5.50228 6.26541L8.82174 5.29893C9.16357 5.19939 9.45721 4.99627 9.67088 4.7115C10.0502 4.20592 9.9975 3.75375 9.9975 3.26225C9.99752 2.71361 9.55117 2.26723 9.00252 2.26723ZM3.78582 1.39938C3.78582 1.33617 3.83725 1.28475 3.90047 1.28475H6.09939C6.1626 1.28475 6.21404 1.33619 6.21404 1.39938V2.26723H3.78582V1.39938Z' fill='white'/%3E%3Cpath d='M8.9992 5.90835C5.41876 6.95082 5.46511 6.97191 4.99992 6.97191C4.53805 6.97191 4.64763 6.9702 1.00065 5.90837C0.616129 5.7964 0.275582 5.59002 0.00231934 5.30551V8.35147C0.00231934 8.90012 0.448672 9.34647 0.99734 9.34647H9.00251C9.55116 9.34647 9.99753 8.90012 9.99753 8.35147V5.30551C9.72425 5.59 9.3837 5.7964 8.9992 5.90835Z' fill='white'/%3E%3C/svg%3E%0A");
          background-color: #348FEC;
        }
        &.finish{
          background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.76764 0.632281C9.45824 0.322467 8.95582 0.322663 8.646 0.632281L3.59787 5.68061L1.35419 3.43695C1.04438 3.12714 0.542174 3.12714 0.23236 3.43695C-0.0774534 3.74677 -0.0774534 4.24897 0.23236 4.55878L3.03684 7.36326C3.19165 7.51807 3.39464 7.59567 3.59765 7.59567C3.80067 7.59567 4.00386 7.51826 4.15867 7.36326L9.76764 1.75409C10.0775 1.44449 10.0775 0.942075 9.76764 0.632281Z' fill='white'/%3E%3C/svg%3E%0A");
          background-color: #FF536B;
        }
      }
      >li{
        >a{
          display: flex;
          align-items: center;
          justify-content: center;
          color: #222222;
          font-size: 12px;
          min-height: 36px;
          text-decoration: none;
          border-radius: 8px;
          >*{
            &:first-child{
              margin-right: 8px;
            }
          }
        }
      }
    }
  }
  &__hoanthanh{
    &__box{
      padding: 12px 15px;
      border: 1px solid #E4EDFF;
      border-radius: 8px;
      background-color: #fff;
      &__txt{
        color: rgba(34, 34, 34, 0.75);
        font-size: 14px;
        line-height: 1.4;
      }
      &__time{
        padding: 0 8px;
        min-height: 26px;
        display: inline-flex;
        align-items: center;
        background: #E4EDFF;
        border-radius: 8px;
        color: rgba(34, 34, 34, 0.75);
        font-size: 12px;
      }
      &__item{
        position: relative;
        &:nth-child(n+2){
          margin-top: 12px;
          padding-top: 12px;
          &:before{
            content: "";
            border-top: 1px solid #E4EDFF;
            position: absolute;
            top: 0;
            right: -15px;
            left: 0;
          }
        }
      }
    }
    &__txt{
      font-size: 14px;
      line-height: 1.4;
      font-family: $font-BeVietnamPro-Italic;
      color: #222222;
      span{
        color: #FF536B;
        font-family: $font-BeVietnamPro-BoldItalic;
      }
    }
  }
  &__nhiemvu{
    &__boxUpfile{
      border: 1.5px dashed #50AA03;
      border-radius: 8px;
      background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.7999 11.8H14.2V2.19992C14.2 1.53767 13.6624 1 12.9999 1C12.3376 1 11.8 1.53767 11.8 2.19992V11.8H2.19992C1.53767 11.8 1 12.3376 1 12.9999C1 13.6624 1.53767 14.2 2.19992 14.2H11.8V23.7999C11.8 24.4623 12.3376 25 12.9999 25C13.6624 25 14.2 24.4623 14.2 23.7999V14.2H23.7999C24.4623 14.2 25 13.6624 25 12.9999C25 12.3376 24.4623 11.8 23.7999 11.8Z' fill='%2350AA03' stroke='%2394A3B8' stroke-width='0.25'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
    }
    &__checkBox{

    }
    &__checkSpan{
      cursor: pointer;
      width: 44px;
      height: 24px;
      position: relative;
      display: flex;
      background: #CCCCCC;
      transition: all .3s;
      .giacsodo__nhiemvu__checkBox:checked ~  &{
        background: #27AE60;
      }
      &:before{
        transition: all .3s;
        content: "";
        width: 21px;
        height: 21px;
        border-radius: 50%;
        background: #FFFFFF;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 2px;
        .giacsodo__nhiemvu__checkBox:checked ~  &{
          right: 2px;
          left: inherit;
        }
      }
    }
    &__box{
      background: #E5FFE4;
      border-radius: 8px;
      &__label{
        color: #222222;
        font-size: 14px;
        line-height: 1.4;
      }
    }
    &__item{
      &:nth-child(n+2){
        margin-top: 11px;
        padding-top: 11px;
        border-top: 1px solid rgba(34, 34, 34, 0.08);
      }
    }
  }
  &__title{
    color: #222222;
    font-size: 14px;
    font-family: $font-BeVietnamPro-SemiBold;
    line-height: 1.4;
  }
  &__label{
    font-size: 14px;
    line-height: 1.4;
    color: #222222;
    span{
      font-family: $font-BeVietnamPro-SemiBold;
    }
  }
  &__input{
    border-color: #E4EDFF;
    background: #FFFFFF;
    border-radius: 8px;
    color: rgba(34, 34, 34, 0.75);
    &::placeholder{
      color: rgba(34, 34, 34, 0.75);
    }
    font-size: 14px;
    font-family: $font-BeVietnamPro-Regular;
  }
  &__btn{
    @extend .giacsodo__input;
    text-transform: inherit;
    padding-left: 10px !important;
    text-align: left;
    >*{
      &:first-child{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    .uk-icon{
      right: 10px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.8172 0.208477C13.5645 -0.0595402 13.1418 -0.0695205 12.8751 0.182474L6.99966 5.7486L1.12485 0.182501C0.858177 -0.0701766 0.436163 -0.0595131 0.182829 0.208504C-0.0705049 0.475838 -0.0591848 0.897851 0.208176 1.15119L6.54166 7.15133C6.66965 7.27268 6.835 7.33401 6.99966 7.33401C7.16432 7.33401 7.33032 7.27268 7.45834 7.15133L13.7918 1.15119C14.0592 0.897824 14.0705 0.475838 13.8172 0.208477Z' fill='%2350AA03'/%3E%3C/svg%3E%0A");
      svg{
        visibility: hidden;
      }
    }
  }
  &__boxBottom{
    background: #FFFFFF;
    box-shadow: 0px -8px 16px rgba(117, 136, 163, 0.08);
    padding-top: 15px;
    padding-bottom: 15px;
    &__btn{
      text-transform: inherit;
      line-height: 48px;
      background: #34B606;
      border-radius: 8px;
      font-size: 16px;
      font-family: $font-BeVietnamPro-Bold;
      &:disabled{
        background: #CCCCCC;
        border-color: #CCCCCC;
        color: #FFFFFF;
      }
    }
  }
}