.giacsodo{
  &__tiendo{
    &__box{
      background: #F4F4F4;
      border-radius: 8px;
      min-height: 44px;
    }
  }
  &__hoanthanh{
    &__box{
      padding: 12px 15px;
      border: 1px solid #E4EDFF;
      border-radius: 8px;
      background-color: #fff;
      &__txt{
        color: rgba(34, 34, 34, 0.75);
        font-size: 14px;
        line-height: 1.4;
      }
      &__time{
        padding: 0 8px;
        min-height: 26px;
        display: inline-flex;
        align-items: center;
        background: #E4EDFF;
        border-radius: 8px;
        color: rgba(34, 34, 34, 0.75);
        font-size: 12px;
      }
      &__item{
        position: relative;
        &:nth-child(n+2){
          margin-top: 12px;
          padding-top: 12px;
          &:before{
            content: "";
            border-top: 1px solid #E4EDFF;
            position: absolute;
            top: 0;
            right: -15px;
            left: 0;
          }
        }
      }
    }
    &__txt{
      font-size: 14px;
      line-height: 1.4;
      font-family: $font-BeVietnamPro-Italic;
      color: #222222;
      span{
        color: #FF536B;
        font-family: $font-BeVietnamPro-BoldItalic;
      }
    }
  }
  &__nhiemvu{
    &__boxUpfile{
      border: 1.5px dashed #50AA03;
      border-radius: 8px;
      background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.7999 11.8H14.2V2.19992C14.2 1.53767 13.6624 1 12.9999 1C12.3376 1 11.8 1.53767 11.8 2.19992V11.8H2.19992C1.53767 11.8 1 12.3376 1 12.9999C1 13.6624 1.53767 14.2 2.19992 14.2H11.8V23.7999C11.8 24.4623 12.3376 25 12.9999 25C13.6624 25 14.2 24.4623 14.2 23.7999V14.2H23.7999C24.4623 14.2 25 13.6624 25 12.9999C25 12.3376 24.4623 11.8 23.7999 11.8Z' fill='%2350AA03' stroke='%2394A3B8' stroke-width='0.25'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
    }
    &__checkBox{

    }
    &__checkSpan{
      cursor: pointer;
      width: 44px;
      height: 24px;
      position: relative;
      display: flex;
      background: #CCCCCC;
      transition: all .3s;
      .giacsodo__nhiemvu__checkBox:checked ~  &{
        background: #27AE60;
      }
      &:before{
        transition: all .3s;
        content: "";
        width: 21px;
        height: 21px;
        border-radius: 50%;
        background: #FFFFFF;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 2px;
        .giacsodo__nhiemvu__checkBox:checked ~  &{
          right: 2px;
          left: inherit;
        }
      }
    }
    &__box{
      background: #E5FFE4;
      border-radius: 8px;
      &__label{
        color: #222222;
        font-size: 14px;
        line-height: 1.4;
      }
    }
    &__item{
      &:nth-child(n+2){
        margin-top: 11px;
        padding-top: 11px;
        border-top: 1px solid rgba(34, 34, 34, 0.08);
      }
    }
  }
  &__title{
    color: #222222;
    font-size: 14px;
    font-family: $font-BeVietnamPro-SemiBold;
    line-height: 1.4;
  }
  &__label{
    font-size: 14px;
    line-height: 1.4;
    color: #222222;
    span{
      font-family: $font-BeVietnamPro-SemiBold;
    }
  }
  &__input{
    border-color: #E4EDFF;
    background: #FFFFFF;
    border-radius: 8px;
    color: rgba(34, 34, 34, 0.75);
    &::placeholder{
      color: rgba(34, 34, 34, 0.75);
    }
    font-size: 14px;
    font-family: $font-BeVietnamPro-Regular;
  }
  &__btn{
    @extend .giacsodo__input;
    text-transform: inherit;
    padding-left: 10px !important;
    text-align: left;
    >*{
      &:first-child{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    .uk-icon{
      right: 10px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.8172 0.208477C13.5645 -0.0595402 13.1418 -0.0695205 12.8751 0.182474L6.99966 5.7486L1.12485 0.182501C0.858177 -0.0701766 0.436163 -0.0595131 0.182829 0.208504C-0.0705049 0.475838 -0.0591848 0.897851 0.208176 1.15119L6.54166 7.15133C6.66965 7.27268 6.835 7.33401 6.99966 7.33401C7.16432 7.33401 7.33032 7.27268 7.45834 7.15133L13.7918 1.15119C14.0592 0.897824 14.0705 0.475838 13.8172 0.208477Z' fill='%2350AA03'/%3E%3C/svg%3E%0A");
      svg{
        visibility: hidden;
      }
    }
  }
  &__boxBottom{
    background: #FFFFFF;
    box-shadow: 0px -8px 16px rgba(117, 136, 163, 0.08);
    padding-top: 15px;
    padding-bottom: 15px;
    &__btn{
      text-transform: inherit;
      line-height: 48px;
      background: #34B606;
      border-radius: 8px;
      font-size: 16px;
      font-family: $font-BeVietnamPro-Bold;
      &:disabled{
        background: #CCCCCC;
        border-color: #CCCCCC;
        color: #FFFFFF;
      }
    }
  }
}