.ketoan{
  &__box{
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
  }
  &__txt{
    color: #222222;
    font-size: 14px;
    line-height: 1.4;
    font-family: $font-BeVietnamPro-Regular;
  }
  &__radio{
    &:focus,
    &:checked{
      background-color: #{$primary-color} !important;
    }
  }
  &__textarea{
    border: 1px solid #E4EDFF;
    border-radius: 8px;
    color: rgba(34, 34, 34, 0.35);
    font-size: 14px;
    font-family: $font-BeVietnamPro-Regular;
  }
}