.menu{
  &__grid{
    .uk-grid-margin{
      margin-top: 40px !important;
    }
  }
  &__txt{
    color: #222222;
    font-size: 14px;
    line-height: (18/14);
    font-family: $font-BeVietnamPro-Medium;
  }
  &__coverImg{
    border-radius: 34px;
    background: var(--background) no-repeat center,radial-gradient(50% 50% at 50% 50%, rgba(247, 255, 248, 0.5) 0%, rgba(219, 255, 227, 0.5) 100%);
  }
}