.onboarding{
  background: #F5FFF8;
  &__title{
    color: #222222;
    font-size: 16px;
    font-family: $font-BeVietnamPro-SemiBold;
    line-height: (20/16);
  }
  &__box1{
    background: #FFFFFF;
    border-radius: 16px;
    border: 1px solid transparent;
    padding: 12px;
    &--doing{
      border-color: #FDD563;
    }
    &--finish{
      border-color: #8BE38B;
    }
    &__title{
      color: #585A66;
      font-size: 20px;
      font-family: $font-BeVietnamPro-SemiBold;
      line-height: 1.2;
    }
    &__coverImg{
      box-shadow: 0px 4px 8px rgba(28, 37, 44, 0.05);
      border-radius: 8px;
      .onboarding__box1--doing &{
        background-color: #FDD563;
      }
      .onboarding__box1--finish &{
        background-color: #8BE38B;
      }
    }
  }
  &__box2{
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    &__icon{
      width: 44px;
      height: 44px;
      background-repeat: no-repeat;
      background-position: center;
      .late &{
        background-color: #FF526A;
        background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 22C17.0736 22 22 17.0736 22 11C22 4.92642 17.0736 0 11 0C4.92642 0 0 4.92642 0 11C0 17.0736 4.92642 22 11 22ZM10.2143 4.71429C10.2143 4.28214 10.5678 3.92856 11 3.92856C11.4322 3.92856 11.7857 4.28214 11.7857 4.71429V10.6229L15.4197 13.53C15.7575 13.8011 15.8125 14.2961 15.5414 14.6339C15.3882 14.8264 15.1604 14.9286 14.9286 14.9286C14.7557 14.9286 14.5828 14.8735 14.4375 14.7557L10.509 11.6129C10.3243 11.4636 10.2143 11.2397 10.2143 11V4.71429H10.2143Z' fill='white'/%3E%3C/svg%3E%0A");
      }
      .warning &{
        background-color: #FFB60E;
        background-image: url("data:image/svg+xml,%3Csvg width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.5602 15.0041L13.8527 1.65404C12.5938 -0.551346 9.41021 -0.551346 8.15582 1.65404L0.443761 15.0041C-0.815165 17.2095 0.7517 19.9492 3.29219 19.9492H18.6846C21.2251 19.9492 22.8191 17.1823 21.5602 15.0041ZM10.9997 16.9876C10.3295 16.9876 9.77249 16.4306 9.77249 15.7604C9.77249 15.0901 10.3295 14.5331 10.9997 14.5331C11.6699 14.5331 12.2269 15.0901 12.1998 15.7921C12.2315 16.4306 11.6428 16.9876 10.9997 16.9876ZM12.1183 9.05363C12.0639 10.0046 12.005 10.9511 11.9507 11.9021C11.9235 12.21 11.9235 12.4908 11.9235 12.7942C11.8964 13.2968 11.5024 13.6863 10.9997 13.6863C10.4971 13.6863 10.1076 13.324 10.0759 12.8213C9.99439 11.3405 9.90835 9.88687 9.82684 8.40605C9.79967 8.0166 9.77249 7.62262 9.7408 7.23316C9.7408 6.59012 10.1031 6.06028 10.6918 5.89273C11.2805 5.75234 11.8647 6.03311 12.1183 6.59012C12.2043 6.78484 12.2315 6.97957 12.2315 7.20599C12.2043 7.8264 12.1454 8.44228 12.1183 9.05363Z' fill='white'/%3E%3C/svg%3E%0A");
      }
      .doing &{
        background-color: #3690EC;
        background-image: url("data:image/svg+xml,%3Csvg width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.8055 3.55793H15.0673V1.64866C15.0673 0.739559 14.3277 0 13.4186 0H8.58103C7.67193 0 6.93233 0.739559 6.93233 1.64866V3.55793H2.19413C0.987103 3.55793 0.00508354 4.53995 0.00508354 5.74697C0.00508354 6.84337 -0.107201 7.82801 0.723652 8.93532C1.19374 9.56181 1.83973 10.0087 2.59177 10.2277L9.89458 12.3539C10.6176 12.5644 11.3819 12.5645 12.105 12.3539L19.4078 10.2277C20.1599 10.0087 20.8059 9.56181 21.2759 8.93532C22.1105 7.82304 21.9945 6.82827 21.9945 5.74697C21.9946 4.53995 21.0126 3.55793 19.8055 3.55793ZM8.3288 1.64866C8.3288 1.50958 8.44195 1.39646 8.58103 1.39646H13.4186C13.5577 1.39646 13.6709 1.50962 13.6709 1.64866V3.55793H8.3288V1.64866Z' fill='white'/%3E%3Cpath d='M19.7983 11.5684C11.9213 13.8619 12.0233 13.9083 10.9998 13.9083C9.98374 13.9083 10.2248 13.9045 2.20146 11.5685C1.35551 11.3221 0.606305 10.8681 0.00512695 10.2422V16.9433C0.00512695 18.1503 0.987103 19.1323 2.19417 19.1323H19.8055C21.0126 19.1323 21.9946 18.1503 21.9946 16.9433V10.2422C21.3934 10.8681 20.6442 11.3221 19.7983 11.5684Z' fill='white'/%3E%3C/svg%3E%0A");
      }
      .waiting &{
        background-color: #AEABAB;
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='22' viewBox='0 0 17 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5833 4.42535V2.49502C16.1287 2.1771 16.5 1.59238 16.5 0.916652V0.458348C16.5 0.205004 16.295 0 16.0417 0H0.458348C0.205004 0 0 0.205004 0 0.458348V0.916695C0 1.59238 0.371336 2.1771 0.916652 2.49507V4.42535C0.916652 6.24168 1.69099 7.98011 3.04094 9.19488L5.04659 11L3.04094 12.8051C1.69099 14.0199 0.916652 15.7583 0.916652 17.5746V19.5049C0.371336 19.8229 0 20.4076 0 21.0833V21.5417C0 21.795 0.205004 22 0.458348 22H16.0417C16.295 22 16.5 21.795 16.5 21.5417V21.0833C16.5 20.4076 16.1287 19.8229 15.5834 19.5049V17.5746C15.5834 15.7583 14.8091 14.0199 13.4591 12.8051L11.4534 11L13.4591 9.19488C14.809 7.98011 15.5833 6.24164 15.5833 4.42535ZM12.2327 7.83239L9.47014 10.3188C9.27678 10.4925 9.16665 10.74 9.16665 11C9.16665 11.26 9.27678 11.5076 9.47014 11.6812L12.2327 14.1676C13.1968 15.0355 13.75 16.2776 13.75 17.5746V19.25H12.6039L8.61657 13.9335C8.44379 13.7026 8.05617 13.7026 7.88339 13.9335L3.89606 19.25H2.75V17.5746C2.75 16.2775 3.30322 15.0355 4.26736 14.1676L7.0299 11.6812C7.22326 11.5075 7.33339 11.26 7.33339 11C7.33339 10.7399 7.22326 10.4924 7.0299 10.3187L4.26736 7.83234C3.30322 6.9645 2.75 5.72245 2.75 4.42535V2.75H13.75V4.42535C13.75 5.72245 13.1968 6.9645 12.2327 7.83239Z' fill='white'/%3E%3Cpath d='M11.4091 6.41675H5.09048C4.9092 6.41675 4.74493 6.52374 4.67154 6.68934C4.59815 6.85542 4.629 7.04878 4.7512 7.18305L7.94253 10.1273C8.0298 10.2065 8.13993 10.2459 8.25002 10.2459C8.3601 10.2459 8.47023 10.2065 8.5575 10.1273L11.7484 7.18305C11.8706 7.04878 11.9015 6.85542 11.828 6.68934C11.7547 6.52374 11.5904 6.41675 11.4091 6.41675Z' fill='white'/%3E%3C/svg%3E%0A");
      }
      svg{
        visibility: hidden;
      }
    }
    &__txt{
      color: #222222;
      font-size: 14px;
      font-family: $font-BeVietnamPro-Regular;
      line-height: (18/14);
      &.late{
        color: #FF526A;
      }
      &.warning{
        color: #FFB60E;
      }
      &.doing{
        color: #3690EC;
      }
      &.waiting{
        color: #AEABAB;
      }
    }
  }
}