.history{
  &__item{
    $x:12px;
    &:nth-child(n+2){
      margin-top: #{$x};
      padding-top: #{$x};
      border-top: 1px solid #E4EDFF;
    }
  }
  &__time{
    font-size: 12px;
    color: #8A8B8D;
  }
  &__name{
    font-size: 13px;
    color: #8A8B8D;
  }
  &__txt{
    font-size: 12px;
    color: #403F4C;
  }
  &__iconUpload{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2602_2263' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='6' width='20' height='15'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.000366211 6.79413H20V20.5381H0.000366211V6.79413Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2602_2263)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.5654 20.5381H4.43537C1.99037 20.5381 0.000366211 18.5491 0.000366211 16.1031V11.2281C0.000366211 8.78313 1.99037 6.79413 4.43537 6.79413H5.36837C5.78237 6.79413 6.11837 7.13013 6.11837 7.54413C6.11837 7.95813 5.78237 8.29413 5.36837 8.29413H4.43537C2.81637 8.29413 1.50037 9.61013 1.50037 11.2281V16.1031C1.50037 17.7221 2.81637 19.0381 4.43537 19.0381H15.5654C17.1834 19.0381 18.5004 17.7221 18.5004 16.1031V11.2191C18.5004 9.60613 17.1884 8.29413 15.5764 8.29413H14.6334C14.2194 8.29413 13.8834 7.95813 13.8834 7.54413C13.8834 7.13013 14.2194 6.79413 14.6334 6.79413H15.5764C18.0154 6.79413 20.0004 8.77913 20.0004 11.2191V16.1031C20.0004 18.5491 18.0104 20.5381 15.5654 20.5381Z' fill='%2334B606'/%3E%3C/g%3E%3Cmask id='mask1_2602_2263' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='9' y='0' width='2' height='14'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.25 0.00012207H10.75V13.541H9.25V0.00012207Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask1_2602_2263)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 13.541C9.586 13.541 9.25 13.205 9.25 12.791V0.75C9.25 0.336 9.586 0 10 0C10.414 0 10.75 0.336 10.75 0.75V12.791C10.75 13.205 10.414 13.541 10 13.541Z' fill='%2334B606'/%3E%3C/g%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.08496 4.42871C6.89396 4.42871 6.70196 4.35571 6.55596 4.20971C6.26296 3.91771 6.26096 3.44371 6.55396 3.14971L9.46896 0.22171C9.74996 -0.0612895 10.25 -0.0612895 10.531 0.22171L13.447 3.14971C13.739 3.44371 13.738 3.91771 13.445 4.20971C13.151 4.50171 12.677 4.50171 12.385 4.20771L9.99996 1.81371L7.61596 4.20771C7.46996 4.35571 7.27696 4.42871 7.08496 4.42871Z' fill='%2334B606'/%3E%3C/svg%3E%0A");
    svg{
      visibility: hidden;
    }
  }
}